@use "./variables";

@use "sass:map";
// Configuração de temas (Claro/Escuro)
@function theme-value($theme, $key) {
    @return map.get($theme, $key);
  }
  
  // Mixin para configurar tema
  @mixin set-theme($theme) {
    --background: #{theme-value($theme, background)};
    --background-secondary: #{theme-value($theme, background-secondary)};
    --text-primary: #{theme-value($theme, text-primary)};
    --text-secondary: #{theme-value($theme, text-secondary)};
    --border: #{theme-value($theme, border)};
    --shadow: #{theme-value($theme, shadow)};
  }
  
  // Aplicação de temas
  :root {
    // Tema claro (padrão)
    @include set-theme(variables.$light-theme);
    
    // Variáveis para cores de tarefas
    @each $name, $color in variables.$task-colors {
      --task-color-#{"#{$name}"}: #{$color};
    }
  }
  
  // Tema escuro baseado em atributo data-theme
  [data-theme="dark"] {
    @include set-theme(variables.$dark-theme);
    
    // Ajustes específicos para cores de tarefas em tema escuro
    --task-color-white: #{variables.$color-grey-800};
  }
  
  // Detecção automática de preferência de tema
  @media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
      @include set-theme(variables.$dark-theme);
      --task-color-white: #{variables.$color-grey-800};
    }
  }