@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-md;
  
  @include respond-above(md) {
    padding: 0 $spacing-lg;
  }
  
  @include respond-above(lg) {
    padding: 0 $spacing-xl;
  }
}