@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color-light-grey;
}

.loader {
  border: 4px solid rgba($color-primary, 0.3);
  border-radius: 50%;
  border-top: 4px solid $color-primary;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: $spacing-md;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}